.home-panel
  .home-button-wrapper
    = link_to 'Rankings', check_logs_path, class: 'btn btn-lg btn-success home-button'

  .home-button-wrapper
    = link_to 'Projects', projects_path, class: 'btn btn-lg btn-warning home-button'

