#
# Format:
#
# <stage name>:
#   app: <Heroku app name>
#   stack: <Heroku stack, optional>
#   tag: <git tag pattern, optional>
#   repo: <git repository, optional>
#   config:
#     - <Heroku config:var name>: <Heroku config:var value>
#

production:
  app: gem-ojisan
  stack: cedar-14
  config:
    BUNDLE_WITHOUT: "development:test"
    RACK_ENV: "production"
    RAILS_ENV: "production"
