%li.dropdown
  = link_to '#', class: 'dropdown-toggle', data: { toggle: 'dropdown' } do
    = fa_icon('user', text: 'なまえ')
    %span.caret
  %ul.dropdown-menu
    %li= link_to fa_icon('sign-out fw', text: 'ログアウト'), '#'
